
#ankieta_osobowa1 {
    margin: 0 0 16px 0;
}

fieldset legend {
    font-weight: bold;
    color: rgb(46, 134, 29);
    font-size: 14pt;
    
}
fieldset {
    background: rgb(224, 244, 255);
}
#ankieta_osobowa1 label {
    float: left;
    display: block;
    width: 160px;
    margin: 0px;
    padding: 0px;
    height: 22px;
    
}
#ankieta_osobowa1 input {
    float: left;
}
#ankieta_osobowa1 input[type="text"],#ankieta_osobowa1 input[type="email"] {
    width: 200px;
    height: 22px;
    padding: 2px;
    border: 1px solid #abadb3;
    display: block;
    box-sizing: border-box;
}
form .row {
    margin: 6px 0;
}
#ankieta_osobowa1 .row {
    height: 22px;
}
#ankieta_osobowa2 #div-komentarz {
    margin: 8px 0 0 0;
}
#ankieta_osobowa2 #div-komentarz #komentarz {
    height: 106px;
    width: 380px;
}
#lbl-komentarz{
    margin: 43px 0 0 0;
}
fieldset input, fieldset textarea, fieldset select {
    background: rgb(228, 255, 232);
}


#ankieta_osobowa2 #div-przegladarki {
    margin: 8px 0 0 0;
    overflow: hidden;
}
#ankieta_osobowa2 #div-przegladarki #przegladarki {
    height: 106px;
}
#lbl-przegladarki{
    margin: 43px 0 0 0;
}
#ankieta_osobowa2 .row {
    overflow: hidden;
}
#ankieta_osobowa2 label {
    display: block;
    width: 160px;
    float: left;
}
#ankieta_osobowa2 input[type="checkbox"] + label {
    width: 180px;
}
#ankieta_osobowa2 input {
    float: left;
}