

#ankieta_osobowa1 label {
    float: left;
    display: block;
    width: 160px;
    margin: 0px;
    padding: 0px;
    height: 22px;
    
}
#ankieta_osobowa1 input {
    float: left;
}
#ankieta_osobowa1 input[type="text"],#ankieta_osobowa1 input[type="email"] {
    width: 200px;
    height: 22px;
    padding: 2px;
    border: 1px solid #abadb3;
    display: block;
    box-sizing: border-box;
}
#ankieta_osobowa1 .row {
    height: 22px;
    margin: 1px;
}
#ankieta_osobowa2 #div-komentarz {
    margin: 8px 0 0 0;
}
#ankieta_osobowa2 #div-komentarz #komentarz {
    height: 106px;
    width: 380px;
}
#lbl-komentarz{
    margin: 43px 0 0 0;
}


#ankieta_osobowa2 #div-przegladarki {
    margin: 8px 0 0 0;
    overflow: hidden;
}
#ankieta_osobowa2 #div-przegladarki #przegladarki {
    height: 106px;
}
#lbl-przegladarki{
    margin: 43px 0 0 0;
}
#ankieta_osobowa2 .row {
    overflow: hidden;
    margin: 0;
}
#ankieta_osobowa2 label {
    display: block;
    width: 200px;
    float: left;
}
#ankieta_osobowa2 input[type="checkbox"] + label {
    width: 180px;
}
#ankieta_osobowa2 input {
    float: left;
}