/* 
    Document   : php06obsluga_formularza
    Created on : 2013-10-24, 13:30:22
    Author     : Czapla < arturczapla94 at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

table th { 
    text-align: right;
}

