/* 
    Document   : test
    Created on : 2013-09-30, 13:24:48
    Author     : Czapla < arturczapla94 at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

.klasa01 { 
    color: red;
    background-color: lightcyan;
}
.klasa02 {
    background-color: #FFFF89 !important;   
}
.pmenu {
    background: #89FFFF;
    border-radius: 6px;
    border: solid 1px black;
    padding: 6px;
    width: 140px;
}

#pokaz {
    float: left;
}
#cmenu {
    border: 1px solid red;
}
.cmenu {
    border: 1px solid black;
}
