.news-block .figure {
    width: 150px;
    height: 100px;
    float: left;
    display: block;
    margin: 6px;
}

.news-block .figure img{
    width: 150px;
    height: 100px;
    
}

.news-block .block-top h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.news-block .news-content {
    text-align: justify;
}

.news-block .news-content .pokaz-wiecej {   
    clear: both;
    text-align: right;
}