
#dr-container {
   
}
#dr-block {
   display: inline-block;
}
#resizable-container{
    padding: 8px;
    /*margin: 8px;*/
    height: auto;
    border: none;
}

#resizable-block {
    border-radius: 8px 8px 0 8px;
    overflow: hidden;
    /*margin: 8px;*/
}
#sortable-container {
    height: auto;
    padding: 8px;
}
.widget-block {
    margin: 30px 0;
    border: solid black 1px;
    height: 400px;
   
}
.widget-block-in
{
    border: solid blue 1px;
    min-width: 132px;
    min-height: 40px;
    border-radius: 8px 8px 8px 8px;
    background: #39bef0;
    padding: 6px;
    box-shadow: 0 0 12px #6B6B6B;
}
.ui-lista {
    list-style: none;
}
.ui-lista  li {
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
    background: white;
    
}

#selectable .ui-selecting { 
    background: #FECA40;
}
#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#sl-komunikat {
    display: none;
    color: green;
    font-weight: bold;
}